body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #07111f;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
   align-items: flex-start; 
}

h1 {
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
}

p {
    font-size: 18px;
    max-width: 600px;
    margin: 25px auto;
    line-height: 1.6;
}

button {
    padding: 16px 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: white;
    color: #07111f;
}
.stations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 30px auto;
}

.stations button {
    min-height: 100px;
    background: #0d1c30;
    border: 2px solid #315477;
    border-radius: 15px;
    font-size: 24px;
    transition: 0.2s;
}

.stations button span {
    font-size: 15px;
    letter-spacing: 1px;
}

.stations button:hover {
    transform: translateY(-5px);
    border-color: white;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}
.mixture {
    width: 300px;
    min-height: 150px;
    margin: 25px auto;
    padding: 20px;
    background: #d8c59a;
    border: 3px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 30px;
}

}.rice {
    font-size: 45px;
    letter-spacing: 5px;
}

.stones {
    font-size: 45px;
    letter-spacing: 5px;
}

.step {
    padding: 20px;
    background: #0d1c30;
    border: 2px solid #315477;
    border-radius: 15px;
}

.step h3 {
    margin-top: 0;
    letter-spacing: 1px;
}

.step p {
    font-size: 15px;
}.apparatus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 850px;
    margin: 25px auto;
}

.apparatus-item {
    padding: 20px;
    background: #0d1c30;
    border: 2px solid #315477;
    border-radius: 15px;
}

.apparatus-icon {
    font-size: 45px;
    margin-bottom: 10px;
}

.apparatus-item h3 {
    margin: 5px 0;
}

.apparatus-item p {
    font-size: 14px;
}

.apparatus-note {
    font-weight: bold;
}.result-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 700px;
    margin: 25px auto;
    padding: 25px;
    background: #0d1c30;
    border: 2px solid #315477;
    border-radius: 15px;
}

.result-box h3 {
    margin-bottom: 5px;
}

.result-box p {
    margin: 5px;
    font-size: 16px;
}

.arrow {
    font-size: 35px;
    font-weight: bold;
}